# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

/app/node_modules
.DS_Store
/app/.DS_Store
/app/.env.example
/app/.env
/app/scripts/CFData
.idea
**/coverage
../.gitignore

**.env